<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="false"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>tests/Feature/PerformanceTest.php</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>tests/Feature/SecurityTest.php</directory>
        </testsuite>
        <testsuite name="Comprehensive">
            <directory>tests/Feature/ComprehensiveSystemTest.php</directory>
            <directory>tests/Feature/AdvancedSystemTest.php</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <directory>app/Console</directory>
            <directory>app/Exceptions</directory>
            <directory>app/Http/Middleware</directory>
            <directory>app/Providers</directory>
            <file>app/Http/Kernel.php</file>
        </exclude>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:r0w0xC+mYYqjbZhHZ3uk0oHftX8gfUrbbx+WU6Q5Qp8="/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="paul_azerbaijan"/>
        <env name="DB_USERNAME" value="paul_user"/>
        <env name="DB_PASSWORD" value="paul_password"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="MAIL_FROM_ADDRESS" value="hello@example.com"/>
        <env name="MAIL_FROM_NAME" value="Example"/>
        <env name="PASSWORD_RESET_EXPIRY" value="60"/>
        <env name="PASSWORD_RESET_THROTTLE" value="60"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="IIKO_API_URL" value="https://api-ru.iiko.services"/>
        <env name="IIKO_API_LOGIN" value="test_login"/>
        <env name="IIKO_API_PASSWORD" value="test_password"/>
        <env name="ALGORITMA_API_URL" value="https://api.algoritma.uz"/>
        <env name="ALGORITMA_API_LOGIN" value="test_login"/>
        <env name="ALGORITMA_API_PASSWORD" value="test_password"/>
        <env name="ALGORITMA_API_KEY" value="test_key"/>
        <env name="ALGORITMA_SECRET_KEY" value="test_secret"/>
    </php>
    <logging>
        <junit outputFile="storage/app/testing-reports/junit.xml"/>
        <coverage-html outputDirectory="storage/app/testing-reports/coverage" lowUpperBound="50" highLowerBound="80"/>
        <coverage-clover outputFile="storage/app/testing-reports/coverage.xml"/>
        <coverage-text outputFile="storage/app/testing-reports/coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
    </logging>
    <groups>
        <exclude>
            <group>slow</group>
            <group>integration</group>
        </exclude>
    </groups>
    <extensions>
        <extension class="PHPUnit\Extension\Phar\PharExtension"/>
    </extensions>
</phpunit>