.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.separator {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0.25rem;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.2s ease;
  font-weight: 400;
}

.link:hover {
  color: #1a1a1a;
}

.text {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.textActive {
  color: #1A1A1A;
  font-weight: bold;
}


